{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Admission Details</h1>
<table border="1" cellspacing="0">
<tr><th>Sl No</th><th>Name</th><th>Course</th><th>Phone Number</th><th>Fee Paid</th><th colspan="2">Action</th></tr>
{% for stud in students %}
<tr>
    <td>{{ stud.slno }}</td>
    <td>{{ stud.name }}</td>
    <td>{{ stud.course }}</td>
    <td>{{ stud.phonenum }}</td>
    <td>{{ stud.feepaid }}</td>
    <td><a href="{% url 'delete' id=stud.id %}" style="background-color: red;color:white;text-decoration: none;">Delete</a></td>
    <td><a href="{% url 'update' id=stud.id %}" style="background-color: orange;color:white;text-decoration: none;">Update</a></td>
</tr>
{% endfor %}
</table>
<img src="{% static 'images/admission.jpg' %}" alt="amission">
{% endblock %}