{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMS</title>
    <link rel="stylesheet" href="{% static 'style/mystyle.css' %}">
    <style>
        h1{text-decoration: underline red dashed;}
    </style>
</head>
<body>
    <nav>
        {% if user.is_authenticated %} 
            <form action="{% url 'logout' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </nav>
    <h2 style="text-align: center;background-color: darkmagenta;color:white">Student Management System</h2>
    {% block content %}
    {# Content will be injected here from child #}
    {% endblock %}
    <footer style="height: 50px; background-color:darkmagenta;color:white;text-align: center;">
        <p>&copy; 2024 School Management System</p>
</body>
</html>